.divideTextContainer {
  padding-top: 3rem;
  padding-bottom: 4rem;
  margin: 0 1rem;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

.btn:active {
  transform: translate(0rem, 0.3rem);
}
.divideText {
  text-align: center;
  font-size: 1.5rem;
}
